.myBtn {
    padding: 5px 15px;
    color: #FFDEAD;
    font-size: 14px;
    background: transparent;
    border: 1px solid #FFDEAD;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 20px;
    border-radius: 15px;
    
}
.myBtn__header{
    padding: 5px 15px;
    color: #FFDEAD;
    font-size: 14px;
    background: transparent;
    border: 1px solid #FFDEAD;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 15px;
}
.myBtn__createP {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 20px;
    border-radius: 15px;
}
.myBtn__about{
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
}
.myBtn__login{
    padding: 5px 15px;
    color: teal;
    font-size: 15px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 350px;
    border-radius: 15px;

}